<h1>Diet!</h1>

<p>
The T-Money C-Rex enjoys sea greens such as
<br />
<ul>
  <li>
    kelp
  </li>
  <li>
    copious amounts of green tea
  </li>
</ul>
<img src="<%= image_url('tea.gif') %>" />
<ul>
On its cheat days, it enjoys
<ul>
  <li>
    smoking BBQ manatee ribs
  </li>
  <li>
    Playing Assassin's Creed
  </li>
</ul>
<img src="<%= image_url('Manatee.gif') %>" />
<br />
It must drink about 10 cups of green tea daily and 1/2 ton of kelp, per week in order to explore its water world. </p>


<img src="<%= image_url('spongebob.gif') %>" />
