<h1>Habitat!</h1>

<img src="<%= image_url('bermuda.gif') %>" />
<br />
<p>
The T-Money C-Rex is an amphibian who habits the Bermuda Triangle. While exploring the art museum of the sea (aka the Coral Reef), it is able to find his manatee prey and scour for more kelp. Every so often the T-Money C-Rex will enjoy sunbathing on shore for plentiful & necessary vitamin D.
</p>
