<h1>Resources!</h1>

<img src="<%= image_url('sea_rex.jpg') %>" />
<br />
<br />
<a href="https://confluence.covermymeds.com/spaces/viewspace.action?key=~clong">Wikipedia-like page with more information on the C-rex</a>
<br />
<br />
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfSnMbANZxJVu9FWKlmGn_bD62ufvfHsSnnKA4WjRIlUqwSdQ/viewform">Take this quiz about C-Rexes!</a>
<br />
<br />
<a href="https://kids.nationalgeographic.com/games/adventure/krill-smackdown/">Play this fun game!</a>
<br />
<br />
<a href="https://www.youtube.com/watch?v=8w7qflkeKdE&feature=youtu.be">Watch this video about the T-Money Rex Habitat!</a>
